body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}
.btn-style {
  background: #e76f51;
  color: white;
}
.text-style {
  color: #e76f51;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}
.icon-bg {
  color: #e77c40;
}
.img-gray {
  filter: grayscale(100%);
}
.test-color {
  color: #e76f51;
}
.contact {
  max-width: 600px;
}
.contact-bg {
  background-color: #f1efef;
}

/* upcoming style */
.opacity img {
  opacity: 0.5;
}
.opacity img:hover {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

/* footer section style */

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 15px;
}
.social li {
  display: inline-block;
}
.social li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e7e7e8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 10px;
  color: #969bab;
}
.social li a:hover {
  background: #000;
  color: #fff;
}
